<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lynn.config.manager.dao.SystemServerIpDao">
	<resultMap id="getMap" type="com.lynn.config.api.entity.SystemServerIp" />
	<parameterMap type="com.lynn.config.api.entity.SystemServerIp" id="putMap" />
	<select id="getSystemServerIpByCondition" parameterMap="putMap" resultMap="getMap">
		SELECT T.* FROM t_system_server_ip T WHERE 1 = 1
		<include refid="condition"></include>
		ORDER BY system_name,ip
	</select>
	<select id="getSystemName" resultType="String">
		SELECT DISTINCT(system_name) FROM t_system_server_ip order by system_name,ip
	</select>
	<sql id="condition">
		<if test="systemName != null and systemName != ''">
			AND T.SYSTEM_NAME = #{systemName}
		</if>
		<if test="ip != null and ip != ''">
			AND T.IP = #{ip}
		</if>
		<if test="status != null and status != ''">
			AND T.STATUS = #{status}
		</if>
	</sql>
</mapper>