<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lynn.config.service.dao.StaticSystemVariableDao">
	<resultMap id="getMap" type="com.lynn.config.api.entity.StaticSystemVariable" />
	<parameterMap type="com.lynn.config.api.entity.StaticSystemVariable" id="putMap" />
	<select id="getStaticSystemVariableBySystemNameAndStatus" parameterMap="putMap" resultMap="getMap">
		SELECT T.* FROM T_SYSTEM_VARIABLE_STATIC T WHERE T.SYSTEM_NAME = #{systemName} AND T.STATUS = #{status}
		order by SYSTEM_NAME,MODULE_NAME,NID
	</select>

	<select id="getStaticSystemVariableByCondition" parameterMap="putMap" resultMap="getMap">
		SELECT T.* FROM T_SYSTEM_VARIABLE_STATIC T WHERE 1 = 1
		<include refid="condition"></include>
		ORDER BY SYSTEM_NAME,MODULE_NAME,NID
	</select>

	<sql id="condition">
		<if test="systemName != null and systemName != ''">
			AND T.SYSTEM_NAME = #{systemName}
		</if>
		<if test="moduleName != null and moduleName != ''">
			AND T.MODULE_NAME = #{moduleName}
		</if>
		<if test="nid != null and nid != ''">
			AND T.NID LIKE CONCAT('%',#{nid},'%')
		</if>
		<if test="name != null and name != ''">
			AND T.NAME LIKE CONCAT('%',#{name},'%')
		</if>
		<if test="status != null and status != ''">
			AND T.STATUS = #{status}
		</if>
	</sql>

	<!--<select id="getZkConfigBySystem" resultMap="getMap" parameterMap="putMap">-->
		<!--SELECT * FROM T_SYSTEM_VARIABLE_STATIC WHERE NID LIKE 'zk.%'-->
		<!--AND STATUS = 'NORMAL'-->
		<!--order by SYSTEM_NAME,MODULE_NAME,NID-->
	<!--</select>-->
	
	<update id="updateByModuleStatus" parameterMap="putMap">
		UPDATE T_SYSTEM_VARIABLE_STATIC
		SET STATUS = #{status}
		WHERE SYSTEM_NAME = #{systemName}
		AND MODULE_NAME = #{moduleName}
	</update>
</mapper>